# Data Prerprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/cp1/kkp_info.csv')
df.head()

   Unnamed: 0  ...                                        Description
0           3  ...  "너는 오래 전 죽은 그 애를 참 닮았군."의 '그 애' 역할로 빙의했다.\n\n군...
1           4  ...  [카카오 독점 연재]\n\n혈마(血魔) 천무정.\n피도 눈물도 없는 무림 최강의 존...
2           5  ...  시골 객점의 아들 송우문.\n어릴 적부터 몸이 약했던 그는,\n어느 날 노도사가 그...
3           6  ...  아가사 노빌리스는 몇 세기 만에 나온 어마어마한 자산의 상속녀였다.\n\n결혼을 6...
4           7  ...  공사장에서 벽돌 나르고 삽질하는 불운한 인생의 신영우. 그런데 심지어 게임 속에서 ...

[5 rows x 11 columns]

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.columns = ['id', 'title', 'writer', 'readers', 'total_comments', 'genre', 'grade', 'days_of_week', 'total_episode', 'description']
df.head()

         id  ...                                        description
0  58289261  ...  "너는 오래 전 죽은 그 애를 참 닮았군."의 '그 애' 역할로 빙의했다.\n\n군...
1  55275635  ...  [카카오 독점 연재]\n\n혈마(血魔) 천무정.\n피도 눈물도 없는 무림 최강의 존...
2  52716578  ...  시골 객점의 아들 송우문.\n어릴 적부터 몸이 약했던 그는,\n어느 날 노도사가 그...
3  58404017  ...  아가사 노빌리스는 몇 세기 만에 나온 어마어마한 자산의 상속녀였다.\n\n결혼을 6...
4  47050646  ...  공사장에서 벽돌 나르고 삽질하는 불운한 인생의 신영우. 그런데 심지어 게임 속에서 ...

[5 rows x 10 columns]

In [ ]:
df['free'] = df.genre.str.split('소설').str[0]
df['genre'] = df.genre.str.split('소설').str[1]

In [ ]:
df['days_of_week'].unique()

array(['월, 화, 수, 토, 일 연재 | 독점', '완결', '월, 화, 수, 목, 토, 일 연재 | 독점',
       '월, 수, 금, 토 연재', '연재 중 | 독점', '월, 화, 수, 목, 금 연재',
       '월, 화, 수, 목, 금 연재 | 독점', '매일 연재 | 독점', '완결 | 독점',
       '화, 목, 토 연재 | 독점', '매일 연재', '수, 목, 금, 토 연재',
       '월, 화, 수, 금, 토 연재 | 독점', '완결 | 선공개', '월, 화, 수, 목, 금, 일 연재 | 독점',
       '수, 금 연재', '수, 목, 금, 토, 일 연재 | 독점', '월, 화, 수, 금, 토 연재',
       '수, 목, 토, 일 연재', '화, 목, 금, 토, 일 연재 | 독점', '연재 중',
       '월, 수, 금 연재 | 독점', '화, 수, 목, 금, 토, 일 연재', '월, 화, 목, 금 연재',
       '화, 수, 토, 일 연재 | 독점', '월, 화, 목, 금, 토 연재 | 선공개',
       '화, 목, 토, 일 연재 | 독점', '연재 중 | 선공개', '월, 화, 목, 금, 토 연재',
       '월, 화, 목, 금, 토 연재 | 독점', '월, 화, 수, 목, 금, 토 연재 | 독점',
       '화, 수, 목, 금, 토 연재 | 독점', '월, 화, 금, 토, 일 연재 | 독점',
       '월, 화, 목, 금 연재 | 독점', '수, 금, 토, 일 연재 | 독점', '월, 화, 수, 금, 일 연재',
       '월, 화, 수, 목, 금, 일 연재', '화, 수, 목, 금, 토, 일 연재 | 선공개',
       '월, 화, 수, 목, 금, 토 연재', '화, 수, 금 연재', '화, 수, 목, 금 연재 | 독점',
       '화, 수, 목, 금, 토, 일 연재 | 독점', '월, 화, 수, 목, 일 연재 | 선공개',
       '화, 수, 금, 토 연재', '월, 수, 금 연재', '월, 화, 수, 목, 금 연재 | 선연재',
       '월, 화, 금, 토, 일 연재', '수, 목, 토, 일 연재 | 독점', '화, 목, 금 연재',
       '월, 목, 금, 토, 일 연재 | 독점', '화, 목, 토, 일 연재', '월, 목, 금, 토, 일 연재 | 선공개',
       '월 연재', '월, 화, 수, 목, 금 연재 | 선공개', '월, 수, 금, 토, 일 연재 | 독점',
       '수, 목, 금 연재 | 독점 | 개정판', '금, 토, 일 연재 | 선연재', '월, 금, 토, 일 연재 | 독점',
       '화, 금, 토 연재', '매일 연재 | 선공개', '목, 금, 토, 일 연재 | 독점',
       '월, 화, 수, 목 연재 | 독점', '월, 수, 금, 토, 일 연재 | 선연재', '화, 목, 토 연재',
       '수, 목, 금, 토, 일 연재 | 선공개', '수, 목, 금 연재 | 독점', '월, 화, 수, 목 연재',
       '수, 목, 금, 토 연재 | 독점', '완결 | 선연재', '금 연재', '월, 수 연재 | 독점',
       '월, 화, 수, 토, 일 연재', '월, 토, 일 연재', '월, 목, 토, 일 연재 | 독점', '완결 | 개정판',
       '월, 수, 목, 토 연재 | 독점', '화, 목, 일 연재', '월, 수, 목, 금 연재',
       '수, 금 연재 | 독점', '연재 중 | 선연재', '월, 화, 수, 목, 토 연재 | 독점',
       '화, 수, 목, 금, 토 연재', '수, 금, 일 연재', '매일 연재 | 개정판',
       '월, 목, 금, 일 연재 | 독점', '화, 수, 목, 금 연재', '완결 | 독점 | 개정판', '화 연재',
       '월 연재 | 독점', '화, 금 연재', '수, 목, 금, 토, 일 연재 | 선연재'], dtype=object)

In [ ]:
df['days_of_week'] = df['days_of_week'].apply(lambda x: x.replace(' ', ''))

df['publish_info'] = df.days_of_week.str.split('\|').str[1]
df['publish_info'].fillna('일반', inplace=True)

df['days_of_week'] = df.days_of_week.str.split('\|').str[0]
df['days_of_week'] = df['days_of_week'].apply(lambda x: x.replace('연재', ''))


df.head()

         id                 title  ... free publish_info
0  58289261  남주들의 집착보다 내 탈영이 빠르겠다  ...  기다무           독점
1  55275635             마법황가 무공천재  ...  기다무           일반
2  52716578                  불패검선  ...  기다무           일반
3  58404017     7번의 결혼이 예정되어 있습니다  ...  기다무           독점
4  47050646                    템빨  ...  기다무           일반

[5 rows x 12 columns]

In [ ]:
df['days_of_week'].unique()

array(['월,화,수,토,일', '완결', '월,화,수,목,토,일', '월,수,금,토', '중', '월,화,수,목,금',
       '매일', '화,목,토', '수,목,금,토', '월,화,수,금,토', '월,화,수,목,금,일', '수,금',
       '수,목,금,토,일', '수,목,토,일', '화,목,금,토,일', '월,수,금', '화,수,목,금,토,일',
       '월,화,목,금', '화,수,토,일', '월,화,목,금,토', '화,목,토,일', '월,화,수,목,금,토',
       '화,수,목,금,토', '월,화,금,토,일', '수,금,토,일', '월,화,수,금,일', '화,수,금',
       '화,수,목,금', '월,화,수,목,일', '화,수,금,토', '화,목,금', '월,목,금,토,일', '월',
       '월,수,금,토,일', '수,목,금', '금,토,일', '월,금,토,일', '화,금,토', '목,금,토,일',
       '월,화,수,목', '금', '월,수', '월,토,일', '월,목,토,일', '월,수,목,토', '화,목,일',
       '월,수,목,금', '월,화,수,목,토', '수,금,일', '월,목,금,일', '화', '화,금'],
      dtype=object)

In [ ]:
df.isna().sum()

id                0
title             0
writer            0
readers           0
total_comments    0
genre             0
grade             0
days_of_week      0
total_episode     0
description       0
free              0
publish_info      0
dtype: int64

In [ ]:
df['total_comments'] = df['total_comments'].apply(lambda x: x.replace('만', '000') if ('만' in x) and ('.' in x) else x)
df['total_comments'] = df['total_comments'].apply(lambda x: x.replace('만', '0000') if ('만' in x) else x)
df['total_comments'] = df['total_comments'].apply(lambda x: x.replace('.', '') if ('.' in x) else x)
df['total_comments'] = df['total_comments'].apply(lambda x: x.replace(',', '') if (',' in x) else x)
df['total_comments'] = pd.to_numeric(df['total_comments'])

df['readers'] = df['readers'].apply(lambda x: x.replace('명', ''))
df['readers'] = df['readers'].apply(lambda x: x.replace('만', '000') if ('만' in x) and ('.' in x) else x)
df['readers'] = df['readers'].apply(lambda x: x.replace('만', '0000') if ('만' in x) else x)
df['readers'] = df['readers'].apply(lambda x: x.replace('.', '') if ('.' in x) else x)
df['readers'] = df['readers'].apply(lambda x: x.replace(',', '') if (',' in x) else x)
df['readers'] = pd.to_numeric(df['readers'])

df.head()

         id                 title  ... free  publish_info
0  58289261  남주들의 집착보다 내 탈영이 빠르겠다  ...  기다무            독점
1  55275635             마법황가 무공천재  ...  기다무            일반
2  52716578                  불패검선  ...  기다무            일반
3  58404017     7번의 결혼이 예정되어 있습니다  ...  기다무            독점
4  47050646                    템빨  ...  기다무            일반

[5 rows x 12 columns]

In [ ]:
df.isna().sum()

id                0
title             0
writer            0
readers           0
total_comments    0
genre             0
grade             0
days_of_week      0
total_episode     0
description       0
free              0
publish_info      0
dtype: int64

In [ ]:
df['title'] = df['title'].apply(lambda x: x.replace('[완결]','') if '[완결]' in x else x)

In [ ]:
df.isna().sum()

id                0
title             0
writer            0
readers           0
total_comments    0
genre             0
grade             0
days_of_week      0
total_episode     0
description       0
free              0
publish_info      0
dtype: int64

### Description
> 수집된 데이터는 2021.12.14 기준입니다.

- id : 고유 ID
- title : 제목
- writer : 작가명
- total_comments : 총 댓글 수
- genre : 장르
- grade : 이용 등급
- days_of_week : 연재 요일 혹은 완결 여부
- total_episodes : 총 연재 편 수
- description : 작품 소개
- free : 기다리면 무료 여부
- publish_info : 연재 형태(일반, 독점 등)

# 분석용 데이터

In [ ]:
df_eda = df[['id', 'title', 'writer', 'readers', 'total_comments', 'genre', 'grade', 'days_of_week', 'total_episode', 'free', 'publish_info']]

In [ ]:
df_eda

            id                 title writer  ...  total_episode  free publish_info
0     58289261  남주들의 집착보다 내 탈영이 빠르겠다     아듀  ...             97   기다무           독점
1     55275635             마법황가 무공천재    주문향  ...            298   기다무           일반
2     52716578                  불패검선     적하  ...            253   기다무           일반
3     58404017     7번의 결혼이 예정되어 있습니다  커피바닐라  ...             94   기다무           독점
4     47050646                    템빨    박새날  ...           1581   기다무           일반
...        ...                   ...    ...  ...            ...   ...          ...
4073  46719933                 기생열전     태상미  ...             58   기다무           일반
4074  53729117         다시 쓰는 폭군의 비망록    볼테르  ...            245   기다무           일반
4075  52841411               탑 기타리스트    위천풍  ...            185   기다무           일반
4076  52009346  내가 만든 세상에서 살아남기 [연재]     팔복  ...            235   기다무           일반
4077  51182950                천상천하 너     주신  ...             80   기다무           일반

[4078 rows x 11 columns]

In [ ]:
df_eda.isna().sum()

id                0
title             0
writer            0
readers           0
total_comments    0
genre             0
grade             0
days_of_week      0
total_episode     0
free              0
publish_info      0
dtype: int64

In [ ]:
df_eda.to_csv('/content/drive/MyDrive/cp1/kkp_info_preprocessed.csv')

In [ ]:
df_eda_check = pd.read_csv('/content/drive/MyDrive/cp1/kkp_info_preprocessed.csv')
df_eda_check.isna().sum()

Unnamed: 0        0
id                0
title             0
writer            0
readers           0
total_comments    0
genre             0
grade             0
days_of_week      0
total_episode     0
free              0
publish_info      0
dtype: int64

# 자연어 처리용 데이터

In [ ]:
df_nlp = df[['id', 'description', 'title', 'genre']]
df_nlp.head()

         id  ... genre
0  58289261  ...    로판
1  55275635  ...   판타지
2  52716578  ...    무협
3  58404017  ...    로판
4  47050646  ...   판타지

[5 rows x 4 columns]

In [ ]:
df_nlp['description'] = df_nlp['description'].apply(lambda x: x.replace('\n', ' '))
df_nlp.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         id  ... genre
0  58289261  ...    로판
1  55275635  ...   판타지
2  52716578  ...    무협
3  58404017  ...    로판
4  47050646  ...   판타지

[5 rows x 4 columns]

In [ ]:
# tsv로 저장
df_nlp.to_csv('/content/drive/MyDrive/cp1/description.tsv', sep='\t')